@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



body {
    display: flex;
    flex-direction: column;
    margin-right: 0rem;

}

:root {


    /* fonts */

    --primary-font-family: "Poppins", sans-serif;


    /* buttons */
    --primary-button-color: #24CD6B;
    --button-primary-border-colour-thickness: 1px solid #b1aead;
    --button-primary-border-colour-thickness-hover: 1px solid #1f1e1e;
    --primary-button-width: 28rem;
    --primary-button-height: 75px;


}